.chartitem_div {
  background-color: #c3c3c3;
  padding: 5px 10px 12px;
  margin: 5px 5px 20px;
  border: 3px solid #c0c0c0;
  border-radius: 10px;
  animation: chartitemAct 0.7s;
}
@keyframes chartitemAct {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.chartitem_div:hover {
  background-color: #aeaeae;
  color: black;
}
.chartitem_movietitle {
  display: flex;
  font-size: 27px;
}
.chartitem_movietitleOne {
  display: flex;
}
.chartitem_rankchange {
  display: flex;
  font-size: 18px;
  padding-top: 5px;
}
.chartitem_ranknew {
  color: #00b700;
  font-family: "Jua";
}
.chartitem_rankup {
  color: #ff0000;
  font-family: "Jua";
}
.chartitem_rankdown {
  color: #0100ff;
  font-family: "Jua";
}
.chartitem_movieinfo {
  text-align: left;
  font-size: 13px;
  font-weight: 600;
}
.chartitem_moviepercent {
  width: 130px;
  margin: 10px 0 0;
  font-size: 16px;
}
