.header_div {
  background-color: #c9c9c9;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 22px 22px 40px;
  padding: 20px 20px 25px;
  border-radius: 10px;
}
.header_title {
  text-decoration: none;
  font-family: "Righteous";
  font-size: 100px;
  font-weight: 700;
  color: #232323;
  text-shadow: 3px 3px 3px #707070;
}
@media screen and (max-width: 767px) {
  .header_div {
    width: 750px;
  }
}
