.homeslide_div {
  width: 730px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.homeslide_img {
  width: 400px;
  border-radius: 15px;
}
.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single
  .slider-single-content {
  border-radius: 0 !important;
  box-shadow: none !important;
}
.react-3d-carousel .slider-container .slider-content .slider-single {
  width: 460px !important;
}
.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single.preactive
  .slider-single-content {
  opacity: 0.5 !important;
  transform: translateX(-30%) scale(0.9) !important;
}
.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single.proactive
  .slider-single-content {
  opacity: 0.5 !important;
  transform: translateX(30%) scale(0.9) !important;
}
.slider-left {
  height: 430px !important;
  margin-top: 30px;
}
.slider-right {
  height: 430px !important;
  margin-top: 30px;
}
.slider-left div {
  width: 96px;
  height: 490px;
  margin-left: -47px;
  margin-top: 21px !important;
  border: none !important;
}
.slider-right div {
  width: 96px;
  height: 490px;
  margin-left: -32px;
  margin-top: 21px !important;
  border: none !important;
}
