.home_div {
  display: flex;
  margin: 15px;
}
.home_homeslide {
  height: 750px;
  background-color: #d5d5d5;
  border-radius: 10px;
  border: 3px solid #c3c3c3;
}
.home_sourcediv {
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #c3c3c3;
  display: block;
  text-align: center;
  margin-top: 95px;
  padding-top: 15px;
}
.home_sourceimg {
  width: 250px;
  margin: 20px;
  border-radius: 15px;
}
.homeslide_title {
  font-size: 70px;
  text-align: center;
  font-family: "Righteous";
  font-weight: 700;
  color: #edd200;
  margin-top: 15px;
  text-shadow: 3px 3px 3px #937800;
}
.home_chart {
  width: 500px;
  background-color: #d5d5d5;
  padding: 15px;
  margin-left: 35px;
  border-radius: 10px;
  border: 3px solid #c3c3c3;
}
.home_charttitle {
  font-size: 45px;
  font-family: "Black Han Sans";
}
.home_chartday {
  font-size: 15px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .home_div {
    display: inline-block;
  }
  .home_sourcediv {
    display: none;
  }
  .home_chart {
    margin-top: 30px;
    margin-left: 0;
    width: 715px;
  }
}
