.movie_div {
  display: flex;
  width: 910px;
  margin: 15px;
  padding: 20px;
  background-color: #d5d5d5;
  border-radius: 10px;
  border: 3px solid #c3c3c3;
  font-weight: 600;
  animation: smoothAppear 0.7s;
}
@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.movie_div:hover {
  background-color: #c9c9c9;
}
.movie_img {
  width: 220px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.movie_youtubebutton {
  background-color: #ff0000;
  font-family: "Jua";
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 64px 5px;
  height: 34px;
  border-radius: 7px;
  border: 3px solid #ff4848;
}
.movie_youtubebutton:hover {
  background-color: #ff7e7e;
}
.movie_infodiv {
  margin-left: 10px;
}
.movie_name {
  font-family: "Black Han Sans";
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
  height: 46px;
}
.movie_firstbox {
  padding: 5px;
  border: 2px solid #232323;
  border-radius: 7px;
}
.movie_rd {
  font-size: 18px;
  margin-bottom: 3px;
}
.movie_actor {
  font-size: 13px;
}
.movie_secondbox {
  display: flex;
  margin: 12px 0 0;
}
.movie_secondbox p {
  text-align: center;
  font-weight: 650;
  color: #000000;
  padding: 3px;
}
.movie_tomato {
  width: 170px;
  border-radius: 10px;
  padding: 3px;
  border: 3px solid #ff0000;
}
.movie_tomatologo {
  background-color: #ff0000;
  margin: -4px -4px 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.movie_metacritic {
  width: 170px;
  border-radius: 10px;
  padding: 3px;
  margin-left: 10px;
  border: 3px solid #edd200;
}
.movie_metacriticlogo {
  background-color: #edd200;
  margin: -4px -4px 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.nonestyle {
  color: #747474;
}
.movie_boxoffice {
  width: 198px;
  border-radius: 10px;
  padding: 3px;
  margin-left: 10px;
  border: 3px solid #c4b73b;
}
.movie_boxofficelogo {
  background-color: #c4b73b;
  margin: -4px -4px 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.movie_boxofficestat {
  font-size: 20px;
  font-weight: 700 !important;
  line-height: 2.1;
}
.movie_thirdbox {
  margin-top: 12px;
}
.movie_award {
  background-color: #cca63d;
  text-align: center;
  border-radius: 5px;
  padding: 4px 5px 8px;
}
.movie_story {
  background-color: #ffef85;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  margin-top: -5px;
}
.movie_morebutton {
  background-color: #ffef85;
  border: none;
  font-size: 11px;
  font-weight: 700;
  color: #747474;
}
.movie_storybutton:hover {
  opacity: 0.6;
}
